{% if authors %}
    {% for handle in authors %}
        {% set author = site.authors[handle] %}
        <span><a href="/authors/{{ handle }}">{{ author.name }}</a></span>
        {% if not loop.last %}, {% endif %}
    {% endfor %}
{% endif %}
