# Created by .ignore support plugin (hsz.mobi)

.sculpin/
app/cache/*
app/config/sculpin_kernel_*.yml
app/config/sculpin_site_*.yml
app/logs/*
output_*/
source/components/
gh-pages/
node_modules/
vendor/
