---
layout: default
generator: [posts_category_index, pagination]
pagination:
    provider: page.category_posts

---

{% block head_meta %}
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/blog/categories/{{ page.category|url_encode(true) }}.xml" title="{{ site.title }} '{{ page.category }}' category feed" />
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block page_title %}
    Posts in category <span class="label label-default">{{ page.category }}</span>
{% endblock %}

{% block content_wrapper %}

    {% include "article_list.twig" with {posts: page.pagination.items} %}

    <div>
    {% if page.pagination.previous_page or page.pagination.next_page %}
        <nav class="article clearfix">
        {% if page.pagination.previous_page %}
        <a class="previous" href="{{ site.url }}{{ page.pagination.previous_page.url }}" title="Previous Page"><span class="title">Previous Page</span></a>
        {% endif %}
        {% if page.pagination.next_page %}
        <a class="next" href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Next Page"><span class="title">Next Page</span></a>
        {% endif %}
        </nav>
    {% endif %}
    </div>
{% endblock %}
