/**
 * Bootstrap - Lil' B
 * Typography
 */
/**
 * Typography - Base
 * This (re)sets the font-size and line-height for the site. If the font-size
 * is changed, all of the other fonts will respond/adjust appropriately.
 */
body {
  font-size: 14px;
  /* Adjust this if needed */
  line-height: 1.65em; }

/**
 * Typography - Color Adjustments
 * The recommended colors are listed below under their selectors. They are
 * commented out by default.
 *
 * It is recommended that the darkest color are the headers, followed by the
 * "lead", then the standard body text to help with separation and readibility.
 */
body {
  /*color: #444;*/ }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  /*color: #222;*/ }

.lead {
  /*color: #333;*/ }

/**
 * Typography + Spacing Adjustments
 * Adjusts the typography in Bootstrap to work off of responsive ems instead
 * of pixels. If the user changes the font-size in body, all of the headers
 * (h1, h2, h3, h4, h5, h6) and other text elements will respond accordingly
 * with appropriate line-height and margin spacing.
 */
h1, .h1 {
  font-size: 2.6em; }

h2, .h2 {
  font-size: 2.15em; }

h3, .h3 {
  font-size: 1.7em; }

h4, .h4 {
  font-size: 1.25em; }

h5, .h5 {
  font-size: 1em; }

h6, .h6 {
  font-size: 0.85em; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.2em; }

pre {
  font-size: 0.9em; }

.lead {
  font-size: 1.5em;
  margin-bottom: 0.85em; }

blockquote {
  font-size: 1.25em;
  /* Same size as h4 */ }

p {
  margin-bottom: 1.65em; }

.highlight {
  margin-bottom: 1.65em; }

address, legend, .alert, .breadcrumb, .flex-video, .form-group, .jumbotron p, .list-group, .progress, .table, .well {
  margin-bottom: 1.5em; }

/*List-based selectors are separated*/
dt, ul, ol {
  margin-bottom: 1.5em; }

/*Adding margin-top offset to lists if followed by a paragraph for even spacing*/
p + dt, p + ul, p + ol {
  margin-top: -0.15em; }

html {
  /*min-height: 100%;*/
  height: 100%; }

body {
  font-family: "Source Sans Pro", "Helvetica Neue", arial, sans-serif;
  font-size: 16px;
  height: 100%;
  /*min-height: 100%;*/
  color: #666; }

h1, h2, h3, h4 {
  font-weight: bold;
  font-weight: normal;
  color: #333; }

a {
  color: #498BCA; }

#logo {
  width: 87px;
  height: 25.5px; }

.blog-menu {
  background: #498BCA;
  border: none;
  margin: 0; }
  .blog-menu .navbar-toggle {
    color: white;
    border-color: white; }
  .blog-menu .navbar-nav > li > a {
    font-size: 14px;
    color: white;
    text-transform: uppercase; }
    .blog-menu .navbar-nav > li > a:hover {
      text-decoration: underline; }

.blog-header {
  background: #666;
  margin-top: 0;
  padding: 0; }
  .blog-header h1, .blog-header p {
    color: white; }

.blog-footer {
  background: #666;
  color: white;
  padding: 10px;
  text-align: center; }

.blog-main {
  min-height: 100%; }

.blog-content {
  border-right: 1px solid #f2f2f2; }
  .blog-content pre, .blog-content code {
    background: transparent;
    border: none;
    border-radius: 0;
    font-family: "Source Code Pro";
    font-size: 0.9em; }
  .blog-content pre {
    margin-bottom: 1.65em;
    background: rgba(73, 139, 202, 0.1); }

.blog-article-header {
  padding: 20px 0; }
  .blog-article-header h1 {
    margin: 0; }

.blog-article-date {
  color: #a0a0a0; }

/*
.blog-article-header {
    padding: 10px 20px 10px;
    margin: -20px -15px 20px;
    background: $light-gray;
}

.blog-article-content > p:first-child {
    font-size: 1.5em;
    line-height: 1.5;
    margin-bottom: 0.85em;
}
*/
.blog-author-avatar {
  width: 60px;
  height: 60px;
  margin: 0 15px 5px 0;
  float: left;
  box-shadow: 0 0 2px #a0a0a0; }

.blog-author-name {
  /*float: left;*/
  line-height: 40px;
  margin: 0;
  padding: 0; }

.blog-author-links {
  /*float: left;*/
  line-height: 20px; }

.blog-author-bio {
  clear: left;
  margin: 0; }
